genome: "resources/genome.fasta"
bam_dir: "results/bam"
fastq_trimmed_dir: "results/fastq_trimmed"
raw_fastq_dir: "resources/raw_fastq"
vcf_dir: "results/vcf"
chromosome_file: "resources/chromosomes.txt"
individual_file: "resources/individuals.txt"
adapters: "$CONDA_PREFIX/opt/bbmap-39.06-1/resources/adapters.fa"
min_depth: 4
log_dir: "logs"
repeat_bed: "resources/repeat.bed"
final_bam_extension: ".rmdup"
