genome: "data/genome.fasta"
bam_dir: "data/bam"
fastq_trimmed_dir: "data/fastq_trimmed"
raw_fastq_dir: "data/raw_fastq"
vcf_dir: "data/vcf"
chromosome_file: "data/chromosomes.txt"
individual_file: "data/individuals.txt"
adapters: "$CONDA_PREFIX/opt/bbmap-39.06-1/resources/adapters.fa"
optical_dup_dist: 2500
min_depth: 4
log_dir: "logs"
repeat_bed: "data/repeat.bed"
final_bam_extension: ".rmdup"
